.about {
  width: 80%;
  margin: auto;
  padding: 25px;
}

.profile-picture {
  height: 300px;
  border-radius: 25%;
}

.profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}