.about {
  margin: auto;
  padding: 25px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #0e4177;
}

.about * {
  color: #F6F9Fd;
}

.profile-picture {
  height: 300px;
  border-radius: 25%;
}

.profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about-text {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}