.contact {
  min-height: 100vh;
  background: #F6F9Fd;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-header {
  margin-top: 100px;
}
.contact-container {
  display: flex;
  margin: 50px auto;
  width: 30%;
  justify-content: space-around;
}

.contact-icon {
  font-size: 3em;
}

.contact-text {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.resume {
  text-decoration: underline;
}