.interests {
  min-height: 100vh;
  background: #111d33;
  padding-bottom: 50px;
}

.interests * {
  color: #F6F9Fd;
}

.interests-header {
  text-align: center;
  padding: 100px;
}

.interest {
  width: 80%;
  margin: 25px auto;
  display: flex;
  align-items: center;
}

.interest-icon {
  font-size: 5em;
  width: 100px;
}

