@import "./normalize.scss";
@import "./hero";
@import "./about";
@import "./work";
@import "./contact";
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

*{
  box-sizing:border-box;
  color: navy;
}

@font-face{
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLight.otf");
}

@font-face{
  font-family: "BebasNeueLight";
  src: url("../fonts/BebasNeueLight.otf");
}

body{
  font-family: Avenir;
  height: 100vh;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  font-weight: normal;
  margin: 0.25em 0;
}

a{
  text-decoration: none;
}

p{
  margin:0;
}

.app {
  background-color: #F6F9Fd;
}

